body {
    background: url("background_photo.jpg") no-repeat center fixed;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: start;
}

.chat-container {
    background-color: #282828;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    flex: 0.38;
    padding: 20px;
    height: 90vh;
    display: flex;
    flex-direction: column;
}


.chat-header {
    background-color: #FFD700; /* Gold header */
    padding: 20px;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chat-header img {
    width: 120px;
}

.chat-header h1 {
    font-family: 'Lora', sans-serif;
    color: #1f1f1f; /* Dark text for header */
    font-size: 3rem;
    font-weight: 900;
    margin-left: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font family */
    letter-spacing: 1px; /* Add some letter spacing for a modern look */
}

.chat-box {
    padding: 10px;
    overflow-y: auto;
    background-color: #1f1f1f; /* Dark background */
    color: #FFD700; /* Gold text */
    flex: 1;
}

.chat-input {
    display: flex;
    background-color: #282828; /* Dark input background */
    border-top: 1px solid #FFD700;
    height: fit-content;
}

.chat-input input {
    flex-grow: 1;
    padding: 15px;
    border: 1px solid #FFD700;
    border-radius: 4px;
    background-color: #1f1f1f; /* Dark input field */
    color: #FFD700; /* Gold text */
    font-size: 1.5rem;
    outline: none;
    height: 1rem;
}

.chat-input button {
    background-color: #FFD700;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    color: #1f1f1f; /* Dark text */
    font-weight: 500;
    height: 100%;
}

.chat-input button:hover {
    background-color: #e6b800;
}
.chat-message {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 8px;
    font-size: 1rem;
    max-width: 80%;
}

.user-message {
    background-color: #FFD700; /* Gold for user messages */
    color: #1f1f1f; /* Dark text for user messages */
    align-self: flex-end;
}
.bot-message {
    background-color: #2c2c2c; /* Dark background for bot messages */
    color: #FFD700; /* Gold text for bot messages */
    align-self: flex-start;
    font-size: 1rem;
}
